@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  --bottom-nav-h: 88px; /* высота нижней навигации */
}

/* чтобы плавающие панели не уезжали под жесты */
.safe-bottom {
  padding-bottom: calc(env(safe-area-inset-bottom) + 16px);
}
